{% set url = path('annonces_show', {'slug': annonce.slug}) %}
<div class="col-md-4">
    <div class="card bg-light mb-3">
        <div class="card-header text-center">
            {{ annonce.rooms}} chambres, <strong>{{ annonce.price | number_format(2, ',', ' ') }} € / nuit</strong> <br>
            {% if annonce.comments|length > 0 %}
                {% include "partials/rating.html.twig" with {'rating' : annonce.avgRatings} %}
                ({{annonce.comments | length }} avis !)
            {% else %}
                <small>Pas encore noté</small>
            {% endif %}
        </div>
        <a href="{{url}}">
            <img src="{{ annonce.coverImage }}" alt="Img de l'appart" style="height: 200px; width: 100%; display: block">
        </a>

        <div class="card-body">
            <a href="{{url}}">
                <h4 class="card-title">
                    {{ annonce.title }}
                </h4>
            </a>
            <p class="card-text">
                {{ annonce.intro }}
            </p>
            <a href="{{url}}" class="btn btn-primary float-right">En savoir plus</a>
            {% if app.user and app.user == annonce.author %}
                <a href="{{ path('annonces_edit', {'slug': annonce.slug}) }}" class="btn btn-secondary">Modifier l'annonce</a>
            {% endif %}
        </div>
    </div>
</div>