<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SymBnB - {% block title %}{% endblock %}</title>

        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{{asset('/css/bootstrap.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('/css/app.css')}}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {% include "admin/partials/nav-flash.html.twig" %}

        {% block body %}{% endblock %}

        <script src="{{asset('/js/jquery.min.js')}}"></script>
        <script src="{{asset('/js/popper.min.js')}}"></script>
        <script src="{{asset('/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('/js/script.js')}}"></script> 
        <script src="{{asset('/js/fontAwesome.js')}}"></script> 
        {% block javascripts %}{% endblock %}
    </body>
    {% include "admin/partials/footer.html.twig" %}

</html>
